* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

#img_slider {
  width: 640px;
  margin: 0 auto;
  position: relative;
}

#btn p {
  position: absolute;
  top: 40%;
}

#btn p.left_btn {
  left: 20px;
}

#btn p.right_btn {
  right: 20px;
}

#btn p i {
  font-size: 30px;
  color: #000;
}

#btn p i:hover {
  color: #bbb;
}

#page {
  width: 640px;
  margin: 0 auto;
}

#page ul::after {
  content: "";
  display: block;
  clear: both;
}

#page ul {
  position: relative;
}

#page ul li {
  float: left;
  width: 14%;
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
  text-align: center;
}

#page ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

#page ul #focus {
  position: absolute;
  width: 14%;
  top: 0;
  left: 0;
  border: 2px solid purple;
  box-sizing: border-box;
  height: 30px;
  border-radius: 5px;
}

#page ul li.on a {
  color: #bbb;
}

.slider li {
  position: relative;
}
.slider li h1 {
  position: absolute;
  left: 20px;
  top: 60px;
  opacity: 0;
  transition: all 0.6s;
  z-index: 999;
  transform: translateY(60px);
}
.slider li h1.on {
  opacity: 1;
  transform: translateY(0px);
}
